{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
</head>
<body>
	{% include 'partes/menu.html' %}
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

